.classroomcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 2px;
  height: 100%;
}

.classroomview {
  border-radius: 5px;
  border: solid;
  padding: 3px;
}

.classroomcontainer iframe {
  border: none;
}