*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.classroomcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 60%;
  /* justify-content: space-between; */
  background: yellow;
}

#chatView {
  /* make sure chat view expands to bottom of grid cell */
  background: red;
  padding: 10px;
}

#classroomcontainer__chat-iframe {
  height: 100%; width: 100%; border: none;
}