
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

#main-grid {
  display: grid;
  grid-gap: 0;
  /* take up the whole height of browser */ 
  height: 100vh;

  grid-template-rows: min-content 1fr;
  max-width: 100%;
}



footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ff3e00;
  text-align: center;
  color: white;
  height: 200px;

}



.dark-gray {
  color: #373737;
}

.light-gray {
  color: #6e6e6e;
}