#message-container {
  display: grid;
  overflow: auto;
  grid-template-columns: 100px 1fr;
  grid-gap: 5px;
}

.message__row > p {
  margin: 0;
}

.message__user-message > p {
  text-align: right;
}

#messages-and-input {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: gray;
}