main {
  padding-top: 50px;
  margin: 0 auto;
  width: 50%;
}

.modules-grid {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fill, 250px);  
  grid-gap: 15px; 
  justify-content: center;
}

.module-card {
  border: 1px solid #ff3e00;
  border-radius: 6px;
  width: 250px;
  background-color: white;
  display: grid;
  font-family: 'Roboto', serif;
}

.module-card h1 {
  font-size: 88%;
  justify-self: center;
  font-weight: 850;
}

.module-card .datetime {
  font-size: 80%;
  justify-self: center;
}

.module-card img {
  width: 100%;
  justify-self: center;
}

.module-card button {
  justify-self: end; 
  background-color: white;
  border: 1px solid #ff3e00;
  color: #ff3e00;
  padding: 8px;
  margin: 8px;
  border-radius: 3px;
}

/* TODO: move to higher level */
button:disabled,
button[disabled]{
  border: 1px solid #ff4000;
  background-color: white;
  color: #ff3e00;
}

.module-card button:hover {
  color: white;
  background-color: #ff3e00;
}
