html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

#main-grid {
  display: grid;
  grid-gap: 0;
  /* take up the whole height of browser */ 
  height: calc(100vh - 20px);
  grid-template-columns: 100vw;
  grid-auto-rows: min-content 100%;
}