main {
  padding-top: 50px;
  margin: 0 auto;
  width: 50%;
}
.modules-grid {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fill, 250px);  
  grid-gap: 15px; 
  justify-content: center;
}

.module-card {
  border: 2px solid #ff3e00;
  border-radius: 6px;
  width: 250px;
  padding: 12px;
  display: grid;

}
.module-card img {
  width: 200px;
  justify-self: center;
}

.module-card button {
  justify-self: stretch; 
}

