
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

#main-grid {
  display: grid;
  grid-gap: 0;
  /* take up the whole height of browser */ 
  height: 100vh;
  grid-template-columns: 100vw;
  grid-auto-rows: min-content 1fr;
}

button {
  background-color: white;
  border: 1px solid #ff3e00;
  color: #ff3e00;
  padding: 8px;
}

button:hover {
  color: white;
  background-color: #ff3e00;
}
