
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

#main-grid {
  height: 100vh;
}

.dark-gray {
  color: #373737;
}

.light-gray {
  color: #6e6e6e;
}