.cie-header {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid;
}

.cie-header-text {
  font-family: 'Roboto Mono', monospace;
  background: rgb(75, 74, 74);
  color: white;
  padding: 10px;
  text-shadow: 0 0px 3px #ff3e00;
}

.shrink-nav.cie-header-text {
 font-family: 'Roboto Mono', monospace;
 padding: 2px;
}


.routes__navbar {
  list-style-type: none;
  padding: 0;
  margin: 0;
  align-self: center;
}

.routes__navbar > li {
  display: inline-block;
  padding-right: 10px;
}

.routes__navbar > li a {
  color: #3d3636;
  font-weight: 900;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Roboto Mono', monospace;
}

.routes__navbar > li a:hover {
  background-color: #ff3e00;
  color: white;
}