#query {
  position: relative;
  font-family: monospace;
  display: inline-block;
  font-size: x-large;
}

#highlight {
  background: yellow;
  position: absolute;
  top: 0px;
  font-size: x-large;
}

#annotate-box {
  background: black;
  color: white;
  position: absolute;
  z-index: 11;
  display: inline-flex;
  padding: 2px;
  /* align-items: center; */
}

.entityTypeMenu {
  position: absolute;
  z-index: 11;
  background: #2F4F4F;
  padding: 0;
  cursor: pointer;
  margin: 0;
}

.entityTypeMenu > li {
  list-style:none;
  color: white;
  font-size: small;
  margin: 3px;
}

.entityTypeMenu > li:hover {
  background: rgb(96, 141, 141);
}

#close {
  font-size: small;
  display: inline-block;
}

#selectLabel{
  display: inline-block;
}

.entityLabel {
  font-family: sans-serif;
  font-weight: bold;
  letter-spacing: .2px;
  position: absolute;
  z-index: 10;
  font-size: unset;
  background: unset;
  font-size: x-small;
  color: white;
  background: #4863A0;
  padding: 2px;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 3px;
}

.closeWidget {
  position: absolute;
  z-index: 10;
  top: -10px;
  right: -12px;
}

.queryChar {
    cursor: pointer;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
}

.queryChar:hover {
  border-top: 3px solid #d0d0d0;
  border-bottom: 3px solid #d0d0d0;
}

.queryChar::selection {
    background: yellow;
}